@font-face {
    font-family: 'exocetlight';
    src: url('../resources/fonts/exocet-webfont.woff2') format('woff2'),
         url('../resources/fonts/exocet-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
