.footer {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 47%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'exocetlight';
    letter-spacing: 8px;
    color: white;
    background: url('../resources/headerbg.png');
    padding: 14px 16px;
    width: 860px;
    border-radius: 5px;
    text-align: center;
}
