/*Stuff to make it work on iPhone*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .footer {
      font-size: 45px;
      height: 50px;
      border-radius: 0px !important;
  }
}
/*End of iPhone stuff*/


html {
  overflow-x: hidden;
}

.footer {
    margin: 0;
    font-family: 'exocetlight';
    letter-spacing: 8px;
    color: white;
    background: url(../resources/headerbg.png);
    padding: 15px 16px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0,0,0,0.9) inset;
}

@media screen and ( max-width: 300px ) {
    .footer {
        font-size: 10px;
    }
}

::selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}
