.footer {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 450px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'exocetlight';
    letter-spacing: 8px;
    color: white;
    background: url('../resources/headerbg.png');
    padding: 15px 16px;
    width: 850px;
    border-radius: 5px;
    text-align: center;
}

::selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}
