html {
  overflow-x: hidden;
}

.box {
    border-radius: 25px;
    background: url("../resources/headerbg.png");
    height: 300px;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

img.header {
    margin: 0;
    position: absolute;
    top: 125px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 175px;
    animation: pulse 10s infinite;
}

p.subheading {
    position: absolute;
    top: 237px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: 'exocetlight';
    color: white;
    letter-spacing: 9px;
    text-align: center;
    transition: ease-in-out 0.2s;
}


@keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(5px 5px 10px #fdcf58);
  }
  4% {
    -webkit-filter: drop-shadow(5px 5px 10px #f27d0c);
  }
  17% {
    -webkit-filter: drop-shadow(5px 5px 10px #f07f13)
  }
  60% {
    -webkit-filter: drop-shadow(5px 5px 10px #800909)
  }
  72% {
    -webkit-filter: drop-shadow(5px 5px 10px #f27d0c)
  }
  81% {
    -webkit-filter: drop-shadow(5px 5px 10px #f07f13);
  }
  100% {
    -webkit-filter: drop-shadow(5px 5px 10px #fdcf58);
  }
}

::selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}

@media screen and ( max-width: 500px ) {
 /* When the viewport is 768px or less,
    hide #sidebar */
    .subheading {
      font-size: 10px;
      transition: ease-in-out 0.2s;
      margin: 10px;
    }
}
