/*Stuff to make it work in IE and Firefox*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .enter {
    top: 390px !important;
  }
}

@media screen and (-moz-images-in-menus:0) {
  body {
    background-size: 500% !important;
  }
}
/*End of browser specific stuff*/

/*iPhone 5 specific stuff*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: portrait) {
  video#bgvid {
    visibility: hidden;
  }

  body {
    background-image: url("../resources/frame.jpg");
    background-size: cover;
    background-position: center;
    position: fixed !important;
  }

  .subtitle {
    top: 1130px !important;
    font-size: 85px !important;
  }

  .enter {
      font-size: 235px !important;
      top: 415px !important;
  }

  img.logo {
  max-height: 600px !important;
  height: 600px !important;
  top: 365px !important;
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation: landscape) {
  video#bgvid {
    visibility: hidden;
  }

  body {
    background-image: url("../resources/frame.jpg");
    background-size: cover;
    background-position: center;
    position: fixed !important;
  }

  .subtitle {
      top: 350px !important;
      font-size: 40px !important;
      transform: translate(-50%, -60%) !important;
  }

  .enter {
      font-size: 106px !important;
      top: 60px !important;
      transform: translate(-5%, -25%) !important;
  }

  img.logo {
      max-height: 300px !important;
      height: 600px !important;
      top: 210px !important;
      transform: translate(-150%, -68%) !important;
  }
}

/*End of iPhone 5 stuff*/

img.logo {
  max-height: 300px;
  position: fixed;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 200px;
  transition: ease-in-out 0.2s;
  z-index: 20;
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(0px 0px 40px #D00000);
  }

  50% {
    -webkit-filter: drop-shadow(0px 0px 40px #FEFABE);
  }

  100% {
    -webkit-filter: drop-shadow(0px 0px 40px #D00000);
  }
}

.enter {
  position: fixed;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 200px;
  transition: ease-in-out 0.2s;
  font-size: 75px;
  font-family: 'exocetlight';
  z-index: 20;
  color: #eb0113;
  -webkit-filter: drop-shadow(2px 2px 4px #000000);
  text-decoration: none;
  letter-spacing: 25px;
  text-align: center;
}

.enter:hover {
  color: black;
  -webkit-filter: drop-shadow(0px 0px 4px #ffffff);
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-filter: brightness(50%);
}

.subtitle {
  top: 620px;
  position: fixed;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 30;
  font-family: 'exocetlight';
  z-index: 20;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 25px;
  text-align: center;
  -webkit-filter: drop-shadow(2px 2px 4px #000000);
  transition: ease-in-out 0.2s;
}

.overlay {
  background-image: url("../resources/fx.png");
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
}

embed.favicons {
  height: 0px;
  width: 0px;
}

::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

@media screen and ( max-width: 800px ) {
  .enter {
    transition: ease-in-out 0.2s;
    transform: translate(-50%, -175%);
    font-size: 40px;
    margin-left: 5px;
  }

  img.logo {
    height: 200px;
    transform: translate(-50%, -100%);
    transition: ease-in-out 0.2s;
  }

  .subtitle {
    font-size: 20px;
    transform: translate(-50%, -750%);
    transition: ease-in-out 0.2s;
  }
}

@media screen and ( max-width: 433px ) {
  .subtitle {
    font-size: 20px;
    transform: translate(-50%, -525%);
    transition: ease-in-out 0.2s;
  }
}

@media screen and ( max-width: 339px ) {
  .subtitle {
    font-size: 20px;
    transform: translate(-50%, -824%);
    letter-spacing: 5px;
    transition: ease-in-out 0.2s;
  }
}

@media screen and ( max-width: 600px ) {
  video#bgvid {
    visibility: hidden;
  }

  body {
    background-image: url("../resources/frame.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: fixed;
  }

  html {
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
  }
}

@media screen and (max-height: 275px) {
  img.logo {
    height: 150px;
    transform: translate(-50%, -130%);
    transition: ease-in-out 0.2s;
  }
}

@media screen and (max-height: 275px) {
  .enter {
    transition: ease-in-out 0.2s;
    transform: translate(-50%, -275%);
    font-size: 33px;
    margin-left: 5px;
  }
}

@media screen and (max-height: 275px) {
  .subtitle {
    font-size: 15px;
    transform: translate(-50%, -1385%);
    letter-spacing: 5px;
    transition: ease-in-out 0.2s;
  }
}
