html {
  overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url("../resources/headerbg.png");
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0,0,0,0.9) inset;
    transition: ease-in-out 0.2s;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 15px 37px;
    text-decoration: none;
    font-family: 'exocetlight';
    letter-spacing: 5px;
    transform: translate(0%, 0%);
    line-height: 15px;
    transition: ease-in-out 0.2s;
}

li a:hover {
    -webkit-filter: drop-shadow(3px 3px 15px #D00000);
    transition: ease-in-out 0.2s;
    background-color: #d00000;
    border-radius: 5px;
}

::selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}

.alchemy {
    display: inline;
    font-family: 'alchemy';
    color: white;
    animation: alchemy 5s infinite;
    padding-right: 4px;
    font-size: 30px;
    transition: ease-in-out 0.2s;
}

@keyframes alchemy {
  0% {
    color: #9D7D58;
  }
  33% {
    color: #163AC6;
  }
  67% {
    color: #60b860;
  }
  100% {
    color: #9D7D58;
  }
}

@media screen and ( max-width: 300px ) {
    ul {
      font-size: 10px;
      display: block;
      transition: ease-in-out 0.2s;
    }
    .alchemy {
      font-size: 20px;
      margin-left: -30px;
      transition: ease-in-out 0.2s;
    }
}

@media screen and ( max-width: 400px ) {
    ul {
      display: list-item;
      transition: ease-in-out 0.2s;
      text-align: center;
    }
    .alchemy {
      margin-left: -30px;
      transition: ease-in-out 0.2s;
    }
}
