ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url("../resources/headerbg.png");
    border-radius: 5px
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
    font-family: 'exocetlight';
    letter-spacing: 5px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    -webkit-filter: drop-shadow(3px 3px 15px #D00000);
    transition: ease-in-out 0.2s;
    background-color: #d00000;
    border-radius: 5px;
}
