.content {
    /*width: 860px;*/
    margin: auto;
    background: url("../resources/centerbg.png");
    max-width: 860px;
    border-radius: 25px;
    padding: 40px;
    box-shadow: 0 0 25px rgba(0,0,0,0.9) inset;
    padding-bottom: 75px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.maintext {
    font-family: 'carrois';
    font-size: 15px;
    width: 95%;
    margin: 0;
    margin-top: -40px;
    position: relative;
    left: 2%;
    margin-bottom: 75px;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

body {
    background-image: url(../resources/mainbg.png);
    margin: 10px !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

embed.header {
    width: 100%;
    height: 340px;
    margin-left: 0px;
    margin-top: -20px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

embed.navbar {
    width: 100%;
    height: 220px;
    position: relative;
    top: 50%;
    transform: translate(-50%, 0%);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

h2 {
    font-family: 'exocetlight';
}

embed.footer {
    width: 100%;
    height: 85px;
    margin-bottom: -75px;
}

::selection {
    background: #333;
    color: #fff;
    text-shadow: none;
}

.alchemy {
    display: inline;
    font-family: 'alchemy';
    color: white;
    animation: alchemy 5s infinite;
    padding-right: 20px;
    font-size: 30px;
    vertical-align: middle;
}

@keyframes alchemy {
  0% {
    color: #9D7D58;
  }
  33% {
    color: #163AC6;
  }
  67% {
    color: #60b860;
  }
  100% {
    color: #9D7D58;
  }
}
