@font-face {
    font-family: 'exocetlight';
    src: url('exocet-webfont.woff2') format('woff2'),
         url('exocet-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}